%h2 TAKE SURVEY
= form_for @survey, url: home_index_path, method: "POST" do |survey|
  Name:
  = @survey.name
  %br
  Type:
  = @survey.stype
  %br
  Year:
  = @survey.year
  %br
  Location:
  = @survey.location

  - @survey.questions.each do |q|
    %br
    = q.desc
    - q.options.each do |opt|
      %br
      = radio_button :desc, q.id, opt.id
      = opt.desc
  %br
  = survey.submit :Submit 
  %br
  = link_to "Back to surveys", surveys_path
